<%- include("header") %>

    <div class="delete">
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="" method="POST">
                        <div class="inputbox">
                            <ion-icon name="trash-outline"></ion-icon>
                            <input type="text" placeholder="Enter movie name" name="mname" id="mname">
                        </div>
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </section>
    </div>